@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --primary-color: #FE9501;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif !important;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}

.spinner {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 7px solid rgb(219, 219, 219);
  border-radius: 50px;
}

.spinner:before {
  position: absolute;
  left: -7px;
  top: -7px;
  content: "";
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 7px solid transparent;
  border-top: 7px solid var(--primary-color);
  border-radius: 50px;
  animation: spinner .8s infinite linear;
}

.spinner.xl {
  position: relative;
  width: 60px !important;
  height: 60px !important;
  background-color: transparent;
  border: 10px solid rgb(219, 219, 219);
  border-radius: 50px;
}

.spinner.xl:before {
  position: absolute;
  left: -10px;
  top: -10px;
  content: "";
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 10px solid transparent;
  border-top: 10px solid var(--primary-color);
  border-radius: 50px;
  animation: spinner .8s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }

  from {
    transform: rotate(0deg);
  }
}